# Python
.venv/
venv/
__pycache__/
*.pyc

# React
app/frontend/node_modules/
app/frontend/build/
app/frontend/dist/

# Research / experiments
Modal/*pth

# Model weights
*.pth
*.pt
*.h5
*.keras

# Environment
.env
*.log

# VS Code
app/.vscode/